---
import penguins from '../assets/penguins.json';
import * as Plot from "@observablehq/plot";
import PlotFigure from '../components/PlotFigure.astro';

const { species, containerId='initial-penguins-plot' } = Astro.props;
const penguin = species ? penguins.filter(p => p.species === species) : penguins;
---

<div>
  <h1 class="mb-12 text-2xl">Graphique pour l'espèce : {species}</h1>
  <div id={containerId}>
    <PlotFigure
    options={{
      marks: [
        Plot.dot(penguin, {
          x: "culmen_length_mm",
          y: "culmen_depth_mm",
          stroke: "species",
        }),
      ],
      color: {
        type: "categorical",
        domain: ["Adelie", "Chinstrap", "Gentoo"],
        range: ["#1f77b4", "#ff7f0e", "#d62728"],
      },
    }}
    />
  </div>
</div>