---
import weather from '../assets/weather.json';
import * as Plot from "@observablehq/plot";
import PlotFigure from './PlotFigure.astro';

const { location = '', year = '', metric = 'temp_max', title = 'Graphique météo', containerId='initial-weather-plot'} = Astro.props;

const data = weather
  .map(d => ({ ...d, date: new Date(d.date) }))
  .filter(d => (!location || d.location === location) && (!year || d.date.getFullYear().toString() === year.toString()));
---

<div>
  <h1 class="mb-6 text-2xl">{title}{location ? ` — ${location}` : ''}{year ? ` (${year})` : ''}</h1>
  <div id={containerId}>
    <PlotFigure
    options={{
      marks: [
        Plot.line(data, { x: 'date', y: metric, stroke: 'location' })
      ],
      x: { label: 'Date' },
      y: { label: 'Température (°C)' },
      width: 700,
      height: 400,
    }}
  />
  </div>
</div>
