---
const { current = "/" } = Astro.props;
---
<header>
  <div class="nav-content">
    <nav>
      <ul>
        <li><a href="/" class={current === "/" ? "active" : ""}>Accueil</a></li>
        <li><a href="/simple" class={current === "/simple" ? "active" : ""}>Simple</a></li>

        <li>
          <details class="group">
            <summary class="cursor-pointer text-white">Penguins ▾</summary>
            <ul class="mt-2 bg-white/5 p-2 rounded">
              <li><a href="/penguins/penguinssimple" class={current === "/penguins/penguinssimple" ? "active" : ""}>Simple</a></li>
              <li><a href="/penguins/penguinsfiltre" class={current === "/penguins/penguinsfiltre" ? "active" : ""}>Filtre</a></li>
              <li><a href="/penguins/penguinsmultifiltre" class={current === "/penguins/penguinsmultifiltre" ? "active" : ""}>Multi Filtre</a></li>
            </ul>
          </details>
        </li>

        <li>
          <details class="group">
            <summary class="cursor-pointer text-white">Weather ▾</summary>
            <ul class="mt-2 bg-white/5 p-2 rounded">
              <li><a href="/weather/weathersimple" class={current === "/weather/weathersimple" ? "active" : ""}>Simple</a></li>
              <li><a href="/weather/weatherfiltre" class={current === "/weather/weatherfiltre" ? "active" : ""}>Filtre</a></li>
              <li><a href="/weather/weathermultifiltre" class={current === "/weather/weathermultifiltre" ? "active" : ""}>Multi Filtre</a></li>
            </ul>
          </details>
        </li>
        <li>
          <details class="group">
            <summary class="cursor-pointer text-white">Diamonds ▾</summary>
            <ul class="mt-2 bg-white/5 p-2 rounded">
              <li><a href="/diamond/diamondsimple" class={current === "/diamond/diamondsimple" ? "active" : ""}>Simple</a></li>
              <li><a href="/diamond/diamondfiltre" class={current === "/diamond/diamondfiltre" ? "active" : ""}>Filtre</a></li>
              <li><a href="/diamond/diamondmultifiltre" class={current === "/diamond/diamondmultifiltre" ? "active" : ""}>Multi Filtre</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </nav>
  </div>
</header>